* {
    margin: 0;
    opacity: inherit;
}

body {
    background-color: #fff0f5;
    color: #333;
    opacity: 100pc;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff69b4;
    flex-direction: row;
    gap: 50px;
}

.logo {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
}


.navbar {
    display: flex;
    justify-content: center;
    background-color: #ff69b4;
    margin-right: 30px;
    position: sticky;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-size: large;
    gap: 40px;
    text-align: center;
}

#pout {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

a {
    text-decoration-line: none;
}

.products {
    display: flex;
    margin-top: 25px;
    margin-left: 70px;
    margin-right: 100px;
    gap: 70px;
    transform: scale(1);
}

.product-card {
    flex-direction: column;
    justify-content: center;
    gap: 120px;
    margin-bottom: 10px;
    border: 2px solid #fddde6;
    border-radius: 20px;
    width: 280px;
    text-align: center;
   }

.product-card img {
    width: auto;
    height: 250px;
    display: block;
    object-fit: contain;
    margin: 0 auto 15px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    }

button {
    background-color: #ff69b4;
    color: white;
    border: 0.5px solid #ff69b4;
    border-radius: 30px;
    padding: 15px;
}

#send {
    margin-top: 10px;
}
.About {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: large;
    font-style: italic;
}

footer {
   background-color: #ff69b4;
   padding: 30px 20px;
    text-align: center;
    font-size: 0.9rem;
}
html{
    scroll-behavior: smooth;
}